body {
  background-color: #857e85;
}

.weather-app {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 800px;
  margin: 3.5rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 30px 50px rgba(68, 51, 107, 0.08);
  border: 1px solid black;
}

header {
  border-bottom: 1px solid #414141;
  padding-bottom: 2rem;
}

.city-input {
  background-color: #f8f7ff;
  border: 1px solid #414141;
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  padding: 20px;
  width: 75%;
}
.search-button {
  margin-left: 10px;
  padding: 20px;
  background-color: #3939ee;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  line-height: 1;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  background-color: white;
  color: #3939ee;
  font-weight: 500;
}

main {
  padding: 35px 0;
}

.current-city {
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.current-temperature {
  font-size: 35px;
  text-align: right;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 35px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #414141;
}

a {
  color: white;
}
a:hover {
  color: blue;
}
